<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Antilope Restaurant Manager</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li class="homeIcon" th:text="${message}"></li>
            <li class="navTitle">Antilope</li>
            <li class="addIcon">addIcon</li>
            <li class="logo">antilopeLogo</li>
        </ul>
    </div>
    <div class="table">
        <div class="card">
            <div class="restaurantImage">placeholderImage</div>
            <div class="restaurantName">placeholderName</div>
            <div class="restaurantLocation">placeholderLocation</div>
        </div>
    </div>
</body>
<footer>
    <ul>
        <li>This is the footer.</li>
        <li>Developed by György Attila.</li>
    </ul>
</footer>
</html>